apiVersion: v1
kind: Secret
metadata:
  name: aiops-bot-secret
  namespace: bookgate
type: Opaque
stringData:
  anthropic_api_key: "sk-ant-api03-..."
  telegram_bot_token: "123456:ABC-..."
  telegram_chat_id: "-100..."
